.header {
  z-index: 9 !important;
  width: 100%;
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0);
  transition: all 1s;
  .enHeader {
    color: white;
    padding: 50px 260px;
    * {
      z-index: 9 !important;
      position: relative;
    }
    .whiteLogo {
      width: 135px;
    }
    a {
      margin-left: 50px;
      color: white;
      font-size: 15px;
      font-weight: 600;
      height: fit-content;
      &:hover {
        text-decoration: none;
      }
    }
    .globalIcon {
      width: 24px;
      height: 24px;
    }
    .langDiv {
      margin-left: 5px;
      font-weight: 600;
      font-size: 15px;
    }
    .globalDiv {
      margin-left: 60px;
      height: 24px;
    }
    .searchIcon {
      margin-left: 20px;
      width: 24px;
      height: 24px;
    }
  }
  .faHeader {
    color: white;
    padding: 50px 233px 50px 260px;
    direction: rtl;
    max-height: 217px;
    * {
      z-index: 9 !important;
    }
    .whiteLogo {
      width: 135px;
      height: 117px;
    }
    a {
      margin-left: 50px;
      color: white;
      font-size: 15px;
      font-weight: 600;
      height: fit-content;
      padding-bottom: 5px;
      &:hover {
        text-decoration: none;
      }
    }
    .productsLinks {
      min-width: 150px;
      max-width: 150px;
      height: 29px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      transition: all 0.5s;
      padding: 0px 10px 10px 10px;
      margin-left: 10px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);

        height: 264px;
      }
      .underLink {
        margin-top: 30px !important;
        margin-left: 0px;
        min-width: 150px;
        max-width: 150px;
      }
    }
    .active {
      border-bottom: 2px solid #027cd8;
    }
    .lastHeadDiv {
      height: fit-content;
      .bagIcon {
        width: 24px;
        height: 24px;
      }
      .bagDiv {
        margin-left: 17px;
        margin-right: 10px;
        font-weight: 600;
        font-size: 15px;
      }
      .globalIcon {
        width: 24px;
        margin-right: 17px;
        height: 24px;
      }
      .langDiv {
        margin-left: 11px;
        margin-right: 9px;
        font-weight: 600;
        font-size: 15px;
      }
      .blueLine {
        width: 2px;
        background-color: #027cd8;
        height: auto;
      }
      .globalDiv {
        height: 24px;
      }
      .searchIcon {
        margin-right: 16px;
        width: 24px;
        height: 24px;
      }
    }
  }
}
