.circles {
  width: 100%;
  z-index: 99999;
  .circleRow {
    margin-bottom: 40px;
    .circle {
      display: inline-block;
      width: 3px;
      height: 3px;
      transition: background-color 1s;
      border-radius: 50%;
    }
    .grayCircle {
      background-color: rgba(217, 217, 217, 0.4);
    }
    .whitCircle {
      background-color: white;
    }
  }
}
.lines {
  display: none;
  width: 100%;
  z-index: 99999;
  height: 605.78px !important;
  overflow: hidden;
  .line {
    background: white;
    position: absolute;
  }
}
