$primary100: #253980;
$primary90: #3b4d8d;
$primary80: #516199;
$primary60: #7c88b3;
$primary40: #a8b0cc;
$primary10: #e9ebf2;

$secondary100: #1e1e1c;
$secondary90: #343433;
$secondary80: #4b4b49;
$secondary60: #787877;
$secondary40: #a5a5a4;
$secondary10: #e8e8e8;

$alarm100: #ff0000;
$alarm90: #ff3333;
$alarm80: #ff4c4c;
$alarm60: #ff6666;
$alarm40: #ff9999;
$alarm10: #ffcccc;
