@font-face {
  font-family: irancell;
  font-style: normal;
  font-weight: normal;
  src: url("~assets/fonts/irancell/MTnIrancell-Bold.ttf");
}

@font-face {
  font-family: irancell;
  font-style: normal;
  font-weight: bold;
  src: url("~assets/fonts/irancell/MTnIrancell-Bold.ttf");
}

@font-face {
  font-family: irancell;
  font-style: normal;
  font-weight: lighter;
  src: url("~assets/fonts/irancell/MTnIrancell-Bold.ttf");
}
@font-face {
  font-family: montserrat;
  font-style: normal;
  font-weight: normal;
  src: url("~assets/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  src: url("~assets/fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: montserrat;
  font-style: normal;
  font-weight: lighter;
  src: url("~assets/fonts/montserrat/Montserrat-Light.ttf");
}
