@import "./variables";
@import "./app.scss";
@import "./utils.scss";
@import "./fonts.scss";

@import "./pages/home.scss";
@import "./pages/units.scss";
@import "./pages/aboutUs.scss";
@import "./pages/contactUs.scss";
@import "./pages/blogs.scss";
@import "./pages/products.scss";
@import "./pages/industrial.scss";
@import "./pages/construction.scss";

@import "./components/header.scss";
@import "./components/mouseEffect.scss";
@import "./components/lines.scss";
@import "./components/footer.scss";
