.blogs {
  background: #0c0f1c;
  .enBlogs {
    * {
      z-index: 99999 !important;
      position: relative;
    }
    .topDiv {
      padding: 0px 260px;
      margin-bottom: 180px;
      position: relative;
      &::before {
        content: "";
        width: 864px;
        height: 864px;
        display: inline-block;
        position: absolute;
        left: -500px;
        bottom: -300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;
      }
      h1 {
        max-width: 750px;
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        color: #ffffff;
        margin-top: 37px;
        margin-bottom: 47px;
      }
      p {
        max-width: 664px;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 45px;
        text-align: justify;
        color: #ffffff;
      }
    }
    .lineDiv {
      margin-bottom: 200px;
      &::before {
        content: "";
        width: 675px;
        height: 675px;
        display: inline-block;
        position: absolute;
        right: 100px;
        bottom: 300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
    }
    .blogList {
      padding-bottom: 350px;
      padding: 0px 260px;
      .blog {
        margin-top: 95px;
        img {
          width: 48%;
          height: 500px;
        }
        & > div {
          width: 48%;
          .titleAndText {
            border-left: 4px solid rgba(0, 148, 255, 1);
            padding-left: 30px;
            .title {
              font-weight: 500;
              font-size: 50px;
              color: #ffffff;
              margin-bottom: 20px;
            }
            .text {
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              text-align: justify;
              max-width: 552px;
              color: #ffffff;
            }
          }
          .number {
            font-weight: 400;
            font-size: 300px;
            color: #13182e;
          }
        }
      }
      .pagination {
        margin-bottom: 416px;
        margin-top: 100px;
        .num,
        .active {
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 37px;
          color: #ffffff;
          margin: 0px 11px;
        }
        .num {
          opacity: 0.5;
          cursor: pointer;
        }
        .active {
          opacity: 1;
        }
        .whiteLine {
          height: 2px;
          width: 86px;
          margin: 0px 11px;

          background-color: white;
          display: inline-block;
        }
      }
    }
  }
  .faBlogs {
    overflow: hidden;
    * {
      z-index: 99999 !important;
      position: relative;
      direction: rtl;
      text-align: right;
    }
    .topDiv {
      padding: 0px 260px;
      margin-bottom: 180px;
      position: relative;
      &::before {
        content: "";
        width: 864px;
        height: 864px;
        display: inline-block;
        position: absolute;
        right: -200px;
        bottom: -300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;
      }
      h1 {
        max-width: 750px;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 98px;
        color: #ffffff;
        margin-top: 37px;
        margin-bottom: 47px;
      }
      p {
        max-width: 664px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 45px;
        text-align: justify;
        color: #ffffff;
      }
    }
    .scroll {
      padding: 0px 260px;
      margin-bottom: 50px;
      .scrollTitle {
        font-weight: 400;
        font-size: 15px;
        color: #ffffff;
      }
      .scrollIcon {
        border-radius: 30px;
        border: 1px solid #ffffff;
        height: 50px;
        width: 28px;
        margin-left: 12px;
        padding: 0px 10px;
        .scrollCircle {
          display: inline-block;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background-color: white;
        }
      }
    }
    .lineDiv {
      margin-bottom: 200px;
      &::before {
        content: "";
        width: 675px;
        height: 675px;
        display: inline-block;
        position: absolute;
        left: 100px;
        bottom: 250px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
    }
    .blogList {
      padding-bottom: 350px;
      padding: 0px 260px;
      .blog {
        margin-top: 95px;
        img {
          width: 48%;
          height: 500px;
        }
        & > div {
          width: 48%;
          .titleAndText {
            border-right: 4px solid rgba(0, 148, 255, 1);
            padding-right: 30px;
            .title {
              font-weight: 300;
              font-size: 40px;
              color: #ffffff;
              margin-bottom: 20px;
            }
            .text {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              text-align: justify;
              max-width: 552px;
              color: #ffffff;
            }
          }
          .number {
            font-weight: 400;
            font-size: 300px;
            color: #13182e;
          }
        }
      }
      .pagination {
        margin-bottom: 416px;
        margin-top: 100px;
        .num,
        .active {
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 37px;
          color: #ffffff;
          margin: 0px 11px;
        }
        .num {
          opacity: 0.5;
          cursor: pointer;
        }
        .active {
          opacity: 1;
        }
        .whiteLine {
          height: 2px;
          width: 86px;
          margin: 0px 11px;

          background-color: white;
          display: inline-block;
        }
      }
    }
  }
}
