.exclusive {
  background: #0c0f1c;
  .faExclusive {
    overflow: hidden;
    * {
      z-index: 8;
      position: relative;
      direction: rtl;
      text-align: right;
    }
    .topDiv {
      padding: 0px 260px;
      margin-bottom: 180px;
      position: relative;
      padding-top: 250px;

      &::before {
        content: "";
        width: 864px;
        height: 864px;
        display: inline-block;
        position: absolute;
        right: -200px;
        bottom: -300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;
      }
      h1 {
        max-width: 750px;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 98px;
        color: #ffffff;
        margin-top: 37px;
        margin-bottom: 47px;
      }
      p {
        max-width: 664px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 45px;
        text-align: justify;
        color: #ffffff;
      }
    }
    .scroll {
      padding: 0px 260px;
      margin-bottom: 50px;
      .scrollTitle {
        font-weight: 400;
        font-size: 15px;
        color: #ffffff;
      }
      .scrollIcon {
        border-radius: 30px;
        border: 1px solid #ffffff;
        height: 50px;
        width: 28px;
        margin-left: 12px;
        padding: 0px 10px;
        .scrollCircle {
          display: inline-block;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background-color: white;
        }
      }
    }
    .lineDiv {
      margin-bottom: 200px;
      &::before {
        content: "";
        width: 675px;
        height: 675px;
        display: inline-block;
        position: absolute;
        left: 100px;
        bottom: 0px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
    }
    .formText {
      padding: 0px 260px;
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 78px;
      color: #ffffff;
      margin-top: 540px;
      margin-bottom: 100px;
    }
    form {
      margin: 0px 260px;
      padding: 100px;
      background: rgba(255, 255, 255, 0.06);
      textarea,
      input {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        padding: 20px 0px;
        background-color: inherit;
        color: white;
        font-weight: 300;
        font-size: 20px;
        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: white;
          opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: white;
        }

        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: white;
        }
        &:focus {
          outline: none;
        }
      }
      input {
        width: 48%;
        padding-bottom: 78px;
        margin-bottom: 70px;
      }
      textarea {
        width: 100%;
        margin-bottom: 100px;
      }
      .el-upload {
        width: 100%;
        margin-bottom: 21px;
        .el-upload-dragger {
          width: 100%;
          height: 104px;
          background: #0c0f1c;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 0px;
          .el-upload__text {
            font-weight: 300;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
          }
        }
      }
      .size {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.47);
        margin-top: 20px;
        margin-bottom: 100px;
        span {
          color: rgba(0, 148, 255, 1);
        }
      }
      button {
        margin-bottom: 11px;
      }
    }
    .footer {
      margin-top: 300px;
    }
  }
}
