.industrial {
  background: #0c0f1c;
  .faIndustrial {
    overflow: hidden;
    * {
      z-index: 8;
      position: relative;
      direction: rtl;
      text-align: right;
    }
    .topDiv {
      padding: 0px 260px;
      margin-bottom: 180px;
      position: relative;
      padding-top: 250px;

      &::before {
        content: "";
        width: 864px;
        height: 864px;
        display: inline-block;
        position: absolute;
        right: -200px;
        bottom: -300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;
      }
      h1 {
        max-width: 750px;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 98px;
        color: #ffffff;
        margin-top: 37px;
        margin-bottom: 47px;
      }
      p {
        max-width: 664px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 45px;
        text-align: justify;
        color: #ffffff;
      }
    }
    .scroll {
      padding: 0px 260px;
      margin-bottom: 50px;
      .scrollTitle {
        font-weight: 400;
        font-size: 15px;
        color: #ffffff;
      }
      .scrollIcon {
        border-radius: 30px;
        border: 1px solid #ffffff;
        height: 50px;
        width: 28px;
        margin-left: 12px;
        padding: 0px 10px;
        .scrollCircle {
          display: inline-block;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background-color: white;
        }
      }
    }
    .lineDiv {
      margin-bottom: 200px;
      &::before {
        content: "";
        width: 675px;
        height: 675px;
        display: inline-block;
        position: absolute;
        left: 100px;
        bottom: 250px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
    }
    .item1,
    .item2 {
      margin-top: 140px;
      .titleAndText {
        padding-right: 25px;
        border-right: 4px solid #0094ff;
        margin-bottom: 50px;
        .title {
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          color: #ffffff;
          margin-bottom: 50px;
        }
        .text {
          max-width: 725px;
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 45px;
          text-align: justify;
          color: #ffffff;
        }
      }
      button {
        margin-right: 10px;
      }
      img {
        width: 600px;
      }
    }
    .item1 {
      padding-right: 260px;
      padding-left: 150px;
    }
    .item2 {
      padding-left: 260px;
      padding-right: 150px;
    }
    .footer {
      margin-top: 300px;
    }
  }
}
