.units {
  background: #0c0f1c;
  .enUnits {
    * {
      z-index: 8;
      position: relative;
    }
    .topDiv {
      padding: 0px 260px;
      margin-bottom: 180px;
      position: relative;
      padding-top: 250px;

      &::before {
        content: "";
        width: 864px;
        height: 864px;
        display: inline-block;
        position: absolute;
        left: -500px;
        bottom: -300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;
      }
      h1 {
        max-width: 564px;
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        color: #ffffff;
        margin-top: 37px;
        margin-bottom: 47px;
      }
      p {
        max-width: 664px;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 45px;
        text-align: justify;
        color: #ffffff;
      }
    }
    .lineDiv {
      margin-bottom: 200px;
      &::before {
        content: "";
        width: 675px;
        height: 675px;
        display: inline-block;
        position: absolute;
        right: 100px;
        bottom: 300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
    }
    .myUnits {
      .unit {
        padding: 200px 260px;
        background: #0c0f1c;
        width: 100%;
        img {
          width: 645px;
        }
        h2 {
          max-width: 530px;
          font-style: normal;
          font-weight: 700;
          font-size: 80px;
          line-height: 98px;
          color: #ffffff;
          margin-bottom: 30px;
        }
        p {
          max-width: 653px;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          text-align: justify;
          color: #ffffff;
        }
        a {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          color: #0094ff;
          margin-top: 18px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .whiteBack {
        background-color: #ffffff;
        h2 {
          color: #0c0f1c;
        }
        p {
          color: #0c0f1c;
        }
      }
    }
    .unitFooter {
      margin-top: 180px;
    }
  }
  .faUnits {
    * {
      z-index: 8;
      position: relative;
      direction: rtl;
      text-align: right;
    }
    .topDiv {
      padding: 0px 260px;
      margin-bottom: 180px;
      padding-top: 250px;
      position: relative;
      &::before {
        content: "";
        width: 864px;
        height: 864px;
        display: inline-block;
        position: absolute;
        right: -200px;
        bottom: -300px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;
      }
      h1 {
        max-width: 564px;
        font-style: normal;
        font-weight: 300;
        font-size: 55px;
        line-height: 98px;
        color: #ffffff;
        margin-top: 37px;
        margin-bottom: 47px;
      }
      p {
        max-width: 664px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 45px;
        text-align: justify;
        color: #ffffff;
      }
    }
    .scroll {
      padding: 0px 260px;
      margin-bottom: 50px;
      .scrollTitle {
        font-weight: 400;
        font-size: 15px;
        color: #ffffff;
      }
      .scrollIcon {
        border-radius: 30px;
        border: 1px solid #ffffff;
        height: 50px;
        width: 28px;
        margin-left: 12px;
        padding: 0px 10px;
        .scrollCircle {
          display: inline-block;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background-color: white;
        }
      }
    }
    .lineDiv {
      margin-bottom: 200px;
      &::before {
        content: "";
        width: 675px;
        height: 675px;
        display: inline-block;
        position: absolute;
        left: 100px;
        bottom: 250px;
        z-index: -1;
        background: rgba(0, 129, 255, 0.63);
        filter: blur(200px);
      }
    }
    .myUnits {
      .unit {
        padding: 200px 260px;
        background: #0c0f1c;
        width: 100%;
        img {
          width: 645px;
        }
        h2 {
          max-width: 530px;
          font-style: normal;
          font-weight: 300;
          font-size: 50px;
          line-height: 80px;
          color: #ffffff;
          margin-bottom: 30px;
        }
        p {
          max-width: 653px;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 40px;
          text-align: justify;
          color: #ffffff;
          margin-left: 20px;
        }
        a {
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          color: #0094ff;
          margin-top: 18px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .whiteBack {
        background-color: #ffffff;
        h2 {
          color: #0c0f1c;
        }
        p {
          color: #0c0f1c;
        }
      }
    }
    .unitFooter {
      margin-top: 180px;
    }
  }
}
